version: '3'
services:
  nginx:
    restart: always
    build: ./nginx
    depends_on: 
      - main
    ports:
      - "80:80"
    links:
      - main:main

  db:
    restart: always
    image: postgres:alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: sgbsaints
      POSTGRES_DB: sgb
    volumes:
      # - /var/lib/postgresql/data
      - ./main/data:/var/lib/postgresql/data

  main:
    restart: always
    build: ./main
    volumes:
      - ./main:/usr/src/app/
    ports:
      - "8000:8000"
    command: /usr/local/bin/gunicorn -w 2 -b :8000 admin:app
    depends_on:
      - db
    links:
      - celery
      - rabbitmq

  ravenclock:
    restart: always
    build: ./ravenclock
    volumes:
      - ./ravenclock:/usr/src/app/
    ports:
      - "5000:5000"
    command: /usr/local/bin/gunicorn -w 2 -b :5000 clock:app
    depends_on:
      - main

  rabbitmq:
      image: rabbitmq
      ports:
        - "5672:5672"
      environment:
        RABBITMQ_DEFAULT_USER: sgb
        RABBITMQ_DEFAULT_PASS: sgbsaints
        RABBITMQ_DEFAULT_VHOST: pisara

  celery:
    build: ./main
    command: "celery worker -A tasks --loglevel=info"
    user: nobody
    volumes:
        - ./main:/usr/src/app
    depends_on:
      - rabbitmq
