@font-face
	{
		font-family: OpenSans;
		src:url('../fonts/OpenSans-Regular.ttf');
	}

@font-face
	{
		font-family: Lato;
		src:url('../fonts/lato.woff2');
	}


html{
	height: 100%;
}

body{
	height: 100%;
	width: 100%;
	color: #494949 !important;
	font-family: Lato, sans-serif;
	background-color: #242424;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;
}

span:hover{
	cursor: pointer;
}

th:hover{
	cursor: pointer;
}

textarea{
	width: 100%;
	height: 100%;
	padding: 11px;
	resize: none;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-left: none;
	border-right: none;
}

textarea:focus{
	outline: none;
}

.select{
	padding-left: 8px !important;
}

.add-user-modal-dialog{
	width: 400px;
}

.edit-user-modal-dialog{
	width: 400px;
}

#add-user-btn{
	background-color: transparent;
	color: #FFFFFF;
	height: 30px;
	width: 50px;
	padding-top: 0px;
}

.md-28{
	font-size: 30px !important;
}

.md-30{
	font-size: 30px !important;
}

.md-42{
	font-size: 42px !important;
}

.md-50{
	font-size: 38px !important;
}

#add-user-btn:focus{
	outline: none;
}

.xs{
	width: 40px !important;
	max-width: 40px;
	min-width: 40px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#counter{
	float: left;
	background-color: transparent;
	border: none;
	margin-top: 7px;
}

.status-modal-dialog{
	margin-top: 130px;
	width: 300px;
}

#message-status-modal .modal-body{
	height: 100px;
	padding-left: 30px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.status-success{
	color: #4485F5;
	font-size: 42px;
	float: left;
}

.save-status-success{
	color: #4485F5;
	margin-top: -2px;
}

.save-status-message{
	font-size: 16px;
}

#snackbar{
	position: absolute;
	bottom: 25px;
	right: calc(2.5% + 33px);
	z-index: 950;
	height: 75px;
	width: 210px;
	background-color: #4485F5;
	color: #FFFFFF;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.snackbar-status-message{
	font-weight: bold;
	font-size: 16px;
}

.add-user-footer-left{
	width: 50%;
	height: 35px;
	float: left;
	text-align: left;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.status-error{
	color: #CD3D2D;
	float: left;
}

.status-message{
	font-size: 16px;
}

.message-modal-body{
	height: 200px;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.calendar-modal-body{
	height: 500px;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.calendar-modal-dialog{
	width: 700px;
}

.message-modal-header{
	padding-left: 10px !important;
}

.modal-header{
	height: 40px;
	background-color: #4485F5;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	color: #FFFFFF;
}

.message-modal-title{
	margin-top: -8px !important;
}

.calendar-modal-title{
	margin-top: -8px !important;
	text-align: center;
}

.close{
	margin-top: -5px !important;
}

.schedule-modal-dialog,
.schedule-modal-content {
    /* 80% of window height */
	    height: 90%;
	    width: 500px;
	    position: fixed;
	    left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
}

.schedule-modal-body{
	height: calc(100% - 100px) !important;
	overflow: scroll;
	overflow-x: hidden; 
}


.sched{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.sched .form-control{
	background-color: #FFFFFF;
}

.input-group-addon{
	background-color: #4485F5;
	color: #FFFFFF;
}

.sched-group{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin-bottom: 15px;
	padding-bottom: 25px;
	border-bottom: 2px solid #DDDDDD;
}

.sched-group:last-of-type{
	margin-bottom: 0px;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
	background-color: #E7E2DD;
   	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb {
	background-color: #F6F4F2;
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5); 
}

.time-label{
	margin-bottom: 5px;
}

.afternoon{
	margin-top: 10px;
}

.sched-label{
	font-weight: bold;
	font-size: 16px;
	color: #3B75D7;
}

.schedule-text{
	width: 200px;
}

.to{
	margin-left: 20px;
	margin-right: 20px;
}

.confirm-modal-body{
	width: 100%;
	padding: 20px;
}

.modal-header, .modal-footer, .modal-content{
	border-radius: 0px !important;
}

.message-modal-dialog{
	width: 500px;
}

.confirm-modal-dialog{
	margin-top: 130px;
	width: 400px;
}

#message-confirm-password{
	float: left;
	width: 180px;
}

.brand::first-letter{
    color: #0089A8;
}

.dashboard{
	float: left;
	margin-top: 5px;
}

.container{
	width: 95%;
	min-width: 800px;
	padding: 0 !important;
}

.button-container{
	float: right;
}

.btn{
	border-radius: 0px !important;
	height: 35px;
}

.buttons{
	margin-top: 2px;
	color: #FFFFFF !important;
	background-color: #494949 !important;
	border-radius: 0px;
	height: 30px;
	width: 70px;	
	font-size: 16px;
	margin-left: 1px !important;
	margin-right: 1px !important;
	padding:4px;
}

#save-sched{
	width: 120px;
}

.done-btn{
	width: 80px;
}

.done-btn:focus{
	outline: none !important;
}

.cancel-btn{
	width: 80px;
}

.cancel-btn:focus{
	outline: none !important;
}

#compose-btn:focus{
	outline: none;
}

#search-btn{
	background-color: #F4F4F4;
	color: #6D6D6D;
	margin-right: 1px;
}

#search-btn:focus{
	outline: none;
}

#refresh-btn{
	background-color: #F4F4F4;
	color: #6D6D6D;
}

#refresh-btn:focus{
	outline: none;
}

.dropdown-menu:after {
	left: auto;
	right: 13px;
}

.dropdown-menu {
	left: auto;
	right: 0;
}

.dropdown-menu label{
	margin-left: 20px;
}

.active-view{
	margin-left: 40px;
}

#compose-btn{
	background-color: #4485F5 !important;
	height: 30px;
	font-size: 21px !important;
	color: #FFFFFF;
	padding-top: 1px !important;
}

#settings-btn{
	background-color: #F4F4F4;
	color: #6D6D6D;
}

.no-records{
	width: 100%;
	text-align: center;
	font-size: 24px;
	border: none !important;
	padding-top: 20% !important;
}

.loading{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: #F5F5F5;
	width: 95%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	z-index: 900;
}

#table-loading{
	height: calc(100% - 85px);
}

#search-loading{
	height: calc(100% - 157px);
}

#student-info-loading{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
	z-index: 1000;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

#intro{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1000;
	height: 100%;
	width: 100%;
	background-image: url('../images/assets/footer_lodyas.png');
	background-repeat: repeat;
	/*display: none;*/
}

#intro-mask{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 970;
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
}

.searchbox{
	width: 280px;
	height: 32px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	background-color: #ffffff;
	float: right;
}

#tabs{
	margin-top: 10px;
}

.table tbody{
	display:block;
	overflow: hidden;
	overflow-x:hidden;
	background-color: #F5F5F5;
	overflow-y: scroll;
}

.table thead{
	display:table;
	width:100%;
}

.table tbody tr {
    display:table;
    width: calc(100% + 13px);
    background-color: #F1F1F1;
}

.table tbody tr:nth-child(odd) {
	background-color: #F8F8F8;
}

.tab-pane{
	height: 100%;
	width: 100%;
	/*overflow: scroll;
	overflow-x: hidden;*/
}

.tab-content{
	height: 100%;
	width: 100%;
}

.nav-tabs{
	border: none;
}

.long{
	width: 140px;
	max-width: 140px;
	min-width: 140px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.short{
	width: 100px;
	max-width: 100px;
	min-width: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.search-panel td .form-control{
	padding-left: 5px;
	padding-right: 5px;
}

.search-panel td{
	padding-left: 2px !important;
	padding-right: 2px !important;
}

.search-panel{
	height: 70px;
	background-color: #F1F1F1;
}

.attendance-count{
	width: 40px;
	max-width: 40px;
	min-width: 40px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#main-content{
	overflow: hidden;
	overflow-x: hidden; 
	/*background-color: rgba(255,255,255,1);*/
	background-color: transparent;
}

#copyright{
	position: absolute;
	right: 2%;
	bottom: 5px;
}

#search-container{
	padding-top: 3px;
	display: inline;
	float: right;
}

#table-container{
	height: 100%;
	width: 100%;
	background-color: transparent;
}

.radio{
	display: inline;
}

.table{
	margin-bottom: 0 !important;
	border-bottom: none !important;
}

h3{
	display: inline;
}

.table td{
	/*border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;*/
}

.rows:hover{
	cursor: pointer;
	background-color: #DCDBDB!important;
}

table.table thead tr th, table.table tfoot tr th {
	background: #494949;	
	color: #ffffff;
}

#options li a:hover{
	background-color: #4485F5 !important;
	color: #ffffff;
}

.nav-tabs li .tab-item{
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 0px;
	border: none !important;
}

.nav-tabs li .tab-item:hover{
	background-color: #6D6D6D;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
	color: #FFFFFF;
	cursor: default;
	background-color: #494949;	
	border: 1px solid #dddddd;
	border-bottom-color: transparent;
	outline: none;
} 

#calendar-container{
	width: 100%;
	height: 100%;
	padding: 10px;
}

#calendar-container table{
	font-size: 14px;
	text-transform: uppercase;
	height: 100%;
	width: 100%;
}

#calendar-container table .month{
	height: 60px;
	font-size: 18px;
	height: 20px;
	opacity: 0;
}

#calendar-container table tr th.sun,
#calendar-container table tr th.mon,
#calendar-container table tr th.tue,
#calendar-container table tr th.wed,
#calendar-container table tr th.thu,
#calendar-container table tr th.fri,
#calendar-container table tr th.sat{
	height: 30px;
	color: #4485F5;
	font-weight: bold;
	text-align: center;
}

#calendar-container table td{
	text-align: center;
	width: 100px;
	cursor: pointer;
	color: #494949;
}

.prev-month{
	opacity: .3;
}

#calendar-container table td:hover{
	background-color: #DCDBDB;
}

.current-day:hover{
	background-color: #4485F5 !important;
}

.current-day {
	background-color: #4485F5;
	color: #FFFFFF !important;
}

.event {
	cursor: pointer;
	position: relative;
}

.event:after {
	background: #4485F5 !important;
	display: block !important;
	content: '' !important;
	height: 3px !important;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 20px !important;
}

.event.current-day:after {
	background: #FFFFFF !important;
	display: block !important;
	content: '' !important;
	height: 3px !important;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 20px !important;
}




/*table.table thead tr .headerSortUp {
	background-image: url('../images/asc.gif');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 25px;
}
table.table thead tr .headerSortDown {
	background-image: url('../images/desc.gif');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 25px;
}*/