html{
	height: 100%;
}

body{
	height: 100%;
	width: 100%;
}

.searchbox{
	float: right;
	width: 250px;
	height: 32px;
	margin-top: 1px;
	margin-right: 10px;
	border-radius: 5px;
	background-color: #ffffff;
}


.table th{
	width: 100px;
}

.name{
	width: 150px;
}