@font-face
	{
		font-family: OpenSans;
		src:url('../fonts/OpenSans-Regular.ttf');
	}


html{
	height: 100%;
}

body{
	height: 100%;
	width: 100%;
	color: #494949 !important;
	font-family: OpenSans, sans-serif;
	background-image: url('../images/footer_lodyas.png');
	background-repeat: repeat;

}

span:hover{
	cursor: pointer;
}

th:hover{
	cursor: pointer;
}

textarea{
	width: 100%;
	height: 100%;
	padding: 11px;
	resize: none;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-left: none;
	border-right: none;
}

textarea:focus{
	outline: none;
}

.select{
	padding-left: 8px !important;
}

.add-user-modal-dialog{
	width: 400px;
}

#add-user-btn{
	background-color: transparent;
	color: #FFFFFF;
	height: 30px;	
	font-size: 20px;
	padding-top: 2px;
	display: none;
}

#add-user-btn:focus{
	outline: none;
}

.xs{
	width: 40px !important;
	max-width: 40px;
	min-width: 40px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#counter{
	float: left;
	background-color: transparent;
	border: none;
	margin-top: 7px;
}

.status-modal-dialog{
	margin-top: 130px;
	width: 300px;
}

#message-status-modal .modal-body{
	height: 80px;
	padding-left: 30px;
	box-shadow:inset 0px 0px 10px 0px rgba(0,0,0,0.3);
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
}

.status-success{
	color: #80D580;
	margin-right: 10px;
	font-size: 32px;
	float: left;
}

.status-error{
	color: #CD3D2D;
	margin-right: 10px;
	font-size: 32px;
	float: left;
}

.status-message{
	font-size: 16px;
}

.message-modal-body{
	height: 200px;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.message-modal-header{
	height: 40px;
	background-color: #4485F5;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	color: #FFFFFF;
}

.message-modal-title{
	margin-top: -8px !important;
}

.close{
	margin-top: -5px !important;
}

.schedule-modal-dialog,
.schedule-modal-content {
    /* 80% of window height */
	    height: 90%;
	    width: 500px;
	    position: fixed;
	    left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
}

.schedule-modal-body{
	height: calc(100% - 100px) !important;
	overflow: scroll;
	overflow-x: hidden; 
}


.sched{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.sched .form-control{
	background-color: #FFFFFF;
}

.input-group-addon{
	background-color: #4485F5;
	color: #FFFFFF;
}

.sched-group{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin-bottom: 15px;
	padding-bottom: 25px;
	border-bottom: 2px solid #DDDDDD;
}

.sched-group:last-of-type{
	margin-bottom: 0px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.time-label{
	margin-bottom: 5px;
}

.afternoon{
	margin-top: 10px;
}

.sched-label{
	font-weight: bold;
	font-size: 16px;
	color: #3B75D7;
}

.schedule-text{
	width: 200px;
}

.to{
	margin-left: 20px;
	margin-right: 20px;
}

.confirm-modal-body{
	width: 100%;
	padding: 20px;
}

.message-modal-dialog{
	width: 500px;
}

.confirm-modal-dialog{
	margin-top: 130px;
	width: 400px;
}

#message-confirm-password{
	float: left;
	width: 200px;
}

.brand::first-letter {
    color: #0089A8;
} 

.dashboard{
	float: left;
	margin-top: 5px;
}

.container{
	width: 98%;
	min-width: 800px;
}

.button-container{
	float: right;
}

.btn{
	height: 35px;
}

.buttons{	
	height: 30px;
	width: 70px;	
	font-size: 16px;
	padding:4px;
}

#save-sched{
	width: 120px;
}

#save-user{
	width: 80px;
}


#compose-btn:focus{
	outline: none;
}

#search-btn{
	background-color: #F4F4F4;
	color: #6D6D6D;
	border: 1px solid #B6B6B6;
}

#search-btn:focus{
	outline: none;
}

#refresh-btn{
	background-color: #F4F4F4;
	color: #6D6D6D;
	border: 1px solid #B6B6B6;
}

#refresh-btn:focus{
	outline: none;
}

.dropdown-menu:after {
	left: auto;
	right: 13px;
}

.dropdown-menu {
	left: auto;
	right: 0;
}

.dropdown-menu label{
	margin-left: 20px;
}

.active-view{
	margin-left: 40px;
}

#compose-btn{
	background-color: #4485F5;
	color: #FFFFFF;
	
}

#settings-btn{
	background-color: #F4F4F4;
	color: #6D6D6D;
	border: 1px solid #B6B6B6;
}

#big-preloader-container{
	position: absolute;
	z-index: 100;
	background-color: #ffffff;
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 26px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	display: none;
}

.searchbox{
	width: 280px;
	height: 32px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	background-color: #ffffff;
	float: right;
}

#tabs{
	margin-top: 30px;
}

tbody{
	display:block;
	overflow: scroll;
	overflow-x:hidden;
}

thead, tbody tr {
    display:table;
    width:100%;
}

thead {
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}
table {
    width:400px;
}

.tab-pane{
	height: 100%;
	width: 100%;
	/*overflow: scroll;
	overflow-x: hidden;*/
}

.tab-content{
	height: 100%;
}

.nav-tabs{
	border: none;
}

.long{
	width: 140px;
	max-width: 140px;
	min-width: 140px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.short{
	width: 100px;
	max-width: 100px;
	min-width: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.attendance-count{
	width: 40px;
	max-width: 40px;
	min-width: 40px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}



#main-content{
	overflow: hidden;
	overflow-x: hidden; 
	background-color: rgba(255,255,255,1);
}

#copyright{
	position: absolute;
	right: 2%;
	bottom: 5px;
}

#search-container{
	padding-top: 3px;
	display: inline;
	float: right;
}

#table-container{
	height: 100%;
}

.radio{
	display: inline;
}

.table{
	margin-bottom: 0 !important;
	border-bottom: none !important;
}

h3{
	display: inline;
}

td{
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}

tr:hover{
	background-color: #E5E5E5;
}

table.table thead tr th, table.table tfoot tr th {
	background-color: #494949;
	color: #ffffff;
}

#options li a:hover{
	background-color: #4485F5 !important;
	color: #ffffff;
}

.nav-tabs li .tab-item{
	color: #FFFFFF;
	font-weight: bold;
	border: none !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
          color: #FFFFFF;
          cursor: default;
          background-color: #494949;
          border: 1px solid #dddddd;
          border-bottom-color: transparent;
} 

/*table.table thead tr .headerSortUp {
	background-image: url('../images/asc.gif');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 25px;
}
table.table thead tr .headerSortDown {
	background-image: url('../images/desc.gif');
	background-repeat: no-repeat;
	background-position: right;
	background-size: 25px;
}*/