<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
                <link rel="stylesheet" href="../static/css/bootstrap.min.css">
                <link rel="stylesheet" href="../static/css/bootstrap-clockpicker.min.css">
                <link rel="stylesheet" href="../static/css/jquery-ui.css">
                <link rel="stylesheet" href="../static/css/jquery-ui.theme.css">
                <link rel="stylesheet" href="../static/css/jquery-ui.structure.css">
                <link rel="stylesheet" href="../static/css/style.css">
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
                <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
                <script src="//fast.eager.io/sgP7QN5AJL.js"></script>
                <script src="//fast.eager.io/nH76uFjaDI.js"></script>
                <title>Dashboard | Scuola Gesu Bambino</title>
        </head>
        <body> 
        <h1>{{test}}</h1> 
                <input type="hidden" id="tab" value="{{tab}}" />
                <div id="intro-mask"></div>
                <div id="intro"></div>
                <div id="table-loading" class="loading">
                        <img src="../static/images/assets/282.GIF">
                </div>
                <div id="search-loading" class="loading">
                        <img src="../static/images/assets/282.GIF">
                </div>
                <div id="snackbar">
                        <span class="snackbar-status-message">Saved</span>
                </div>
                <div class="container">
                        <div id="tabs">
                                <ul class="nav nav-tabs">
                                        {% if tab == 'logs'%}
                                        <li class="active">
                                        {% else %}
                                        <li>
                                        {% endif %} 
                                                <a href="#logs-tab" class="tab-item" data-toggle="tab" onclick="change_tab('logs')">Log</a>
                                        </li>

                                        {% if view=='student' %}
                                        {% if tab == 'attendance' %}
                                        <li class="active">
                                        {% else %}
                                        <li>
                                        {% endif %} 
                                                <a href="#attendance-tab" class="tab-item" data-toggle="tab" onclick="change_tab('attendance')">Attendance</a>
                                        </li>

                                        {% if tab == 'absent' %}
                                        <li class="active">
                                        {% else %}
                                        <li>
                                        {% endif %} 
                                                <a href="#absent-tab" class="tab-item" data-toggle="tab" onclick="change_tab('absent')">Absent</a>
                                        </li>

                                        {% if tab == 'late' %}
                                        <li class="active">
                                        {% else %}
                                        <li>
                                        {% endif %} 
                                                <a href="#late-tab" class="tab-item" data-toggle="tab" onclick="change_tab('late')">Late</a>
                                        </li>

                                        {% endif %}
                                        {% if view=='faculty' %}
                                        {% if tab == 'attendance' %}
                                        <li class="active">
                                        {% else %}
                                        <li>
                                        {% endif %}
                                                <a href="#attendance-tab" class="tab-item" data-toggle="tab" onclick="change_tab('attendance')">Users</a>
                                        </li>
                                        {% endif %}
                                        <div class="button-container">
                                                {% if view == 'student' %}
                                                <button class="btn" id="add-user-btn" data-toggle="modal" data-target="#add-student-modal"><i class="material-icons md-30">add</i></button>
                                                {% else %}
                                                <button class="btn" id="add-user-btn" data-toggle="modal" data-target="#add-user-modal"><i class="material-icons md-30">add</i></button>
                                                {% endif %}
                                                <button id="compose-btn" class="buttons btn" data-toggle="modal" data-target="#message-modal"><span class="glyphicon glyphicon-envelope"></span></button>
                                                <a href="#"><button id="search-btn" class="buttons btn"><span class="glyphicon glyphicon-search"></span></button></a>
                                                <a><button id="refresh-btn" class="buttons btn" onclick="back_home()"><span class="glyphicon glyphicon-repeat"></span></button></a>

                                                <div class="btn-group">
                                                        <button id="settings-btn" type="button" class="btn buttons dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                                <span class="glyphicon glyphicon-cog"></span>
                                                        </button>
                                                        <ul id="options" class="dropdown-menu" role="menu">
                                                                <label>View:</label>
                                                                <li onclick="change_tab('logs')"><a href="/view?view=student">Students{% if view=='student' %}<span class="glyphicon glyphicon-ok active-view"></span>{% endif %}</a></li>
                                                                <li onclick="change_tab('logs')"><a href="/view?view=faculty">Faculty{% if view=='faculty' %}<span class="glyphicon glyphicon-ok active-view"></span>{% endif %}</a></li>
                                                                <li class="divider"></li>
                                                                <li><a href="#" data-toggle="modal" data-target="#calendar-modal" onclick="populate_calendar()">A.Y. Calendar</a></li>
                                                                <li><a href="#" data-toggle="modal" data-target="#schedule-modal">Regular Schedule</a></li>
                                                                <li class="divider"></li>
                                                                <li><a href="/logout">Logout</a></li>
                                                        </ul>
                                                </div>
                                        </div>          
                                </ul>
                        </div>
                        <div id="main-content">
                                {% block content %} 
                                {% endblock %}
                        </div> 
                        {% include 'modals.html' %}
                </div> 
                <script src="../static/js/jquery-1.11.0.min.js"></script>
                <script src="../static/js/easing.js"></script>
                <script src="../static/js/jquery-ui.js"></script>
                <script src="../static/js/animations.js"></script>
                <script src="../static/js/functions.js"></script>
                <script src="../static/js/tables.js"></script>
                <script src="../static/js/bootstrap.min.js"></script>
                <script src="../static/js/bootstrap-clockpicker.min.js"></script>
        </body>
</html>