<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
                <link rel="stylesheet" href="../static/css/bootstrap.min.css">
                <link rel="stylesheet" href="../static/css/style.css">
                <script src="../static/js/jquery-1.11.0.min.js"></script>
                <script src="../static/js/animations.js"></script>
                <!-- <script src="//fast.eager.io/nH76uFjaDI.js"></script> -->
                <title>Dashboard | Scuola Gesu Bambino</title>
        </head>
        <body>
                <div id="big-preloader-container">      
                        <span class="preloader"><img src="../static/images/Preloader_2.gif"></span>
                        <span class="brand">pisara.co</span>
                </div>
                <div class="container">
                        <!-- <br />
                        <h3 class="dashboard">Dashboard | Scuola Gesu Bambino</h3>
                        <div id="search-container">
                                <button class="search-btn btn"><span class="glyphicon glyphicon-search"></span></button>
                                <input type="text" class="form-control searchbox" placeholder="[WIP]Search">
                        </div>
                        <br /> -->
                        <div id="tabs">
                                <ul class="nav nav-tabs">
                                        <li class="active"><a href="#logs" class="tab-item" data-toggle="tab" onclick="change_tab('logs')">Logs</a></li>
                                        {% if view=='student' %}
                                        <li><a href="#attendance" class="tab-item" data-toggle="tab" onclick="change_tab('attendance')">Attendance</a></li>
                                        <li><a href="#absent" class="tab-item" data-toggle="tab" onclick="change_tab('absent')">Absent</a></li>
                                        <li><a href="#late" class="tab-item" data-toggle="tab" onclick="change_tab('late')">Late</a></li>
                                        {% endif %}
                                        <div class="button-container">
                                                <button id="compose-btn" class="buttons btn" data-toggle="modal" data-target="#message-modal"><span class="glyphicon glyphicon-pencil"></span></button>
                                                <a href="/"><button id="refresh-btn" class="buttons btn"><span class="glyphicon glyphicon-repeat"></span></button></a>

                                                <div class="btn-group">
                                                        <button id="settings-btn" type="button" class="btn buttons dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                                <span class="glyphicon glyphicon-cog"></span>
                                                        </button>
                                                        <ul id="options" class="dropdown-menu" role="menu">
                                                                <label>View:</label>
                                                                <li><a href="/view?view=student">Students{% if view=='student' %}<span class="glyphicon glyphicon-ok active-view"></span>{% endif %}</a></li>
                                                                <li><a href="/view?view=faculty">Faculty{% if view=='faculty' %}<span class="glyphicon glyphicon-ok active-view"></span>{% endif %}</a></li>
                                                                <li class="divider"></li>
                                                                <li><a href="/logout">Logout</a></li>
                                                        </ul>
                                                </div>
                                        </div>          
                                </ul>
                        </div>
                        <div id="main-content">
                                {% block content %} 
                                {% endblock %}
                        </div>

                        <div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog message-modal-dialog">
                                        <div class="modal-content">
                                                <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="gridSystemModalLabel">New Message</h4>
                                                </div>
                                                <div class="modal-body message-modal-body">
                                                        <textarea oninput="textCounter(this,'counter',420);" id="message" placeholder="Write your message here..."></textarea>
                                                </div>
                                                <div class="modal-footer">
                                                        <input disabled  value="Remaining: 420" id="counter">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <button id="send" type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm-modal" disabled>Send</button>
                                                </div>
                                        </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                        </div>

                        <div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog confirm-modal-dialog">
                                        <div class="modal-content">
                                                <div class="confirm-modal-body">
                                                        This message will be sent to all the parent contacts. Are you sure you want to proceed?
                                                </div>
                                                <div class="modal-footer">
                                                        <input type="password" id="message-confirm-password" class="form-control" placeholder="Re-enter password" />
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                        <button type="button" id="confirm-send" class="btn btn-primary" onclick="blast_message()" disabled>Send</button>
                                                </div>
                                        </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                        </div>

                        <div class="modal fade" id="message-status-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog status-modal-dialog">
                                        <div class="modal-content">
                                                <div id="status-modal-body" class="modal-body"></div>                     
                                        </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                        </div>
                </div>  
                <script src="../static/js/bootstrap.min.js"></script>	
                <script src="../static/js/functions.js"></script>
                <script src="../static/js/tables.js"></script>
                <script src="../static/js/jquery.tablesorter.js"></script> 	
        </body>
</html>