<div class="modal-header message-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title message-modal-title" id="gridSystemModalLabel">New Message</h4>
</div>
<div id="compose-message-modal-body" class="modal-body">
        <textarea oninput="textCounter(this,'counter',420);" id="message" placeholder="Write your message here..."></textarea>
</div>
<div class="modal-footer">
        <input disabled  value="Remaining: 420" id="counter">
        <button type="button" class="btn btn-danger cancel-btn" data-dismiss="modal">Cancel</button>
        <button id="send" type="button" class="btn btn-primary done-btn" data-toggle="modal" data-target="#confirm-modal" disabled>Send</button>
</div>

<script type="text/javascript">
        $('#message').on('keyup', function(){
    if (!$.trim($(this).val())) {
        $('#send').attr('disabled',true);
    }
    else if (this.value){
        $('#send').removeAttr('disabled');
    }
});
</script>