<html>
	<div class="tab-content">
		<div class="tab-pane fade in active" id="logs">		
			<table class="table tablesorter">
				<thead>
					<th class="xs"></th>
					<th class="short"><span>Date</span></th>		
					<th class="long">Name</th>
					<th class="short">ID Number</th>
					{% if view=='student' %}
					<th class="short">Grade/Year</th>
					<th class="short">Section</th>
					{% endif %}
					<th class="short">In</th>
					<th class="short">Out</th>
				</thead>
				<tbody>
					{% for i in log %}
					<tr>
						<td class="xs">{{loop.index}}</td>	
						<td class="short">{{i.date}}</td>	
						<td class="long">{{i.name}}</td>
						<td class="short">{{i.id_no}}</td>
						{% if view=='student' %}					
						<td class="short">{{i.level}}</td>
						<td class="short">{{i.section}}</td>
						{% endif %}				
						<td class="short">{{i.time_in}}</td>
						<td class="short">{{i.time_out}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	

		{% if view=='student' %}
		<div class="tab-pane fade" id="attendance">
			<table class="table tablesorter">
				<thead>	
				<tr>
					<th class="xs"></th>
					<th class="short">Last Name</th>
					<th class="short">First Name</th>
					<th class="short">Middle Name</th>
					<th class="short">ID Number</th>
					<th class="short">Grade/Year</th>
					<th class="short">Section</th>	
					<th class="short">Absences</th>
					<th class="short">Lates</th>
				</tr>
				</thead>
				<tbody>
					{% for index in attendance %}
					<tr>
						<td class="xs">{{loop.index}}</td>	
						<td class="short">{{index.last_name}}</td>	
						<td class="short">{{index.first_name}}</td>	
						<td class="short">{{index.middle_name}}</td>
						<td class="short">{{index.id_no}}</td>				
						<td class="short">{{index.level}}</td>
						<td class="short">{{index.section}}</td>				
						<td class="short">0</td>
						<td class="short">{{index.lates}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="tab-pane fade" id="absent">
			<p>attendance</p>
		</div>

		<div class="tab-pane fade" id="late">
			<table class="table tablesorter">
				<thead>
					<th class="xs"></th>
					<th class="short">Date</th>	
					<th class="long">Name</th>
					<th class="short">Grade/Year</th>
					<th class="short">Section</th>			
					<th class="short">In</th>

				</thead>
				<tbody>
					{% for a in late %}
					<tr>
						<td class="xs">{{loop.index}}</td>
						<td class="short">{{a.date}}</td>	
						<td class="long">{{a.name}}</td>					
						<td class="short">{{a.level}}</td>
						<td class="short">{{a.section}}</td>				
						<td class="short">{{a.time_in}}</td>	
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endif %}	
	</div>
	<script src="../static/js/tables.js"></script> 	
</html>