<html>
	<br />
	<div class="tab-content">
		<div class="tab-pane fade in active" id="logs">
			<table class="table">
				<thead>
					<th class="short">Date</th>		
					<th class="long">Name</th>
					<th class="short">ID Number</th>
					<th class="short">Grade/Year</th>
					<th class="short">Section</th>	
					<th class="short">In</th>
					<th class="short">Out</th>
				</thead>
				<tbody>
					{% for i in log %}
					<tr>
						<td class="short">{{i.date}}</td>	
						<td class="long">{{i.name}}</td>
						<td class="short">{{i.id_no}}</td>						
						<td class="short">{{i.level}}</td>
						<td class="short">{{i.section}}</td>				
						<td class="short">{{i.time_in}}</td>
						<td class="short">{{i.time_out}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="tab-pane fade" id="attendance">
			<table class="table">
				<thead>	
					<th class="long">Last Name</th>
					<th class="long">First Name</th>
					<th class="long">Middle Name</th>
					<th class="long">Grade/Year</th>
					<th class="long">Section</th>	
					<th class="long">Absences</th>
					<th class="long">Lates</th>
				</thead>
				<tbody>
					{% for index in attendance %}
					<tr>
						<td class="long">{{index.last_name}}</td>	
						<td class="long">{{index.first_name}}</td>	
						<td class="long">{{index.middle_name}}</td>				
						<td class="long">{{index.level}}</td>
						<td class="long">{{index.section}}</td>				
						<td class="long">0</td>
						<td class="long">{{index.lates}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="tab-pane fade" id="absent">
			<p>attendance</p>
		</div>

		<div class="tab-pane fade" id="late">
			<table class="table">
				<thead>
					<th class="short">Date</th>	
					<th class="long">Name</th>
					<th class="short">Grade/Year</th>
					<th class="short">Section</th>			
					<th class="short">In</th>

				</thead>
				<tbody>
					{% for a in late %}
					<tr>
						<td class="short">{{a.date}}</td>	
						<td class="long">{{a.name}}</td>					
						<td class="short">{{a.level}}</td>
						<td class="short">{{a.section}}</td>				
						<td class="short">{{a.time_in}}</td>	
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</html>