<div class="page-upper">
	<div class="page-upper-left">
		<div>
			<div class="crumb">
				<span class="location-label root" onclick="show_home()">Dashboard</span>
				<span class="separator">/</span>
				<span class="location-label">e-wallet</span>
			</div>
		</div>
		<div>
			<div class="back-btn">
				<div onclick="show_home()">
					<i class="material-icons">&#xE5C4;</i>
					<span>Back</span>
				</div>
			</div>
		</div>
	</div>
	<div class="page-upper-right">
		<div class="wallet-data-container">
			<div class="wallet-data">
				<span class="available-credits-label">Available Credits</span>
				<span class="available-credits">PHP <span id="creditsAmount">{{ available_credits }}</span></span>
			</div>
			<div class="wallet-options-container">
				<button id="topUpBtn" type="button" class="btn wallet-options" data-toggle="modal" data-target="#topup-modal">Top Up / Check Balance</button>
			</div>
		</div>
	</div>
</div>
<div id="table-container">
	<div id="tabs">
	    <ul class="nav main-nav-tabs nav-tabs">
	        <div class="button-container">
	            <div class="btn-group">
		            <button id="search-btn" onclick="toggle_search()" class="buttons btn"><span class="glyphicon glyphicon-search"></span></button>
		            <button id="refresh-btn" class="buttons btn" onclick="back_home()"><span class="glyphicon glyphicon-repeat"></span></button>
	            </div>
	        </div>          
	    </ul>
	</div>
	<div class="tab-content">
		<div class="tab-pane active" id="logsTab">
			<table class="table">
				<thead>	
					<tr>
						<th class="xs">#</th>
						<th class="short">Date</th>
						<th class="short">Time</th>
						<th class="short">ID Number</th>	
						<th class="long">Name</th>
						<th class="short">Amount</th>
					</tr>
					<tr id="logs-search-panel" class="search-panel">
						<td class="xs"></td>	
						<td class="short"><input type="text" id="log_search_date" class="form-control search-text search-logs datepicker"></td>	
						<td class="short"><input type="text" id="log_search_id_no" class="form-control search-text search-logs"></td>
						<td class="short"></td>
						<td class="long"><input type="text" id="log_search_name" class="form-control search-text search-logs"></td>
						<td class="short"></td>
					</tr>
				</thead>
				<tbody id="eWallet" class="maximized">
					{% if topups[0] %}
					{% for item in topups %}
			        <tr id="{{item.id}}" class="rows">
			            <td class="xs">{{loop.index}}</td> 
			            <td class="short">{{item.date}}</td>
			            <td class="short">{{item.time}}</td>   
			            <td class="short">{{item.id_no}}</td>
			            <td class="long">{{item.student_name}}</td> 
			            <td class="short">PHP {{item.amount}}</td>               
			        </tr>
			        {% endfor %}
					{% else %}
					<tr>
					<td class="no-records">NO RECORDS</td>	
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('.search-logs').keypress(function(e){
	    if (e.which == 13) {
	        search_logs();
	    }
	});

	$('.search-logs-options').on('change', function(){
	    search_logs();
	});

	$(".datepicker").datepicker({
	    dateFormat: "MM dd, yy"
	});
</script>