{% extends "base.html" %}
{% block content %}
<div class="main">
	<div class="content">
	</div>
	<div class="menu-container col-sm-12">
		<div class="menu-item-container col-md-2 col-sm-3 col-xs-4">
			<div class="menu-item" onclick="show_students()">
				<div class="menu-icon-container">
					<i class="material-icons">&#xE7FD;</i>
				</div>
				<div class="menu-text-container">
					<span>Students</span>
				</div>
			</div>
		</div>
		<!-- <div class="menu-item-container col-md-2 col-sm-3 col-xs-4">
			<div class="menu-item" onclick="show_staff()">
				<div class="menu-icon-container">
					<i class="material-icons">&#xE7EF;</i>
				</div>
				<div class="menu-text-container">
					<span>Staff</span>
				</div>
			</div>
		</div> -->
		<div class="menu-item-container col-md-2 col-sm-3 col-xs-4">
			<div class="menu-item" onclick="show_logs()">
				<div class="menu-icon-container">
					<i class="material-icons">&#xE896;</i>
				</div>
				<div class="menu-text-container">
					<span>Logs</span>
				</div>
			</div>
		</div>
		<div class="menu-item-container col-md-2 col-sm-3 col-xs-4">
			<div class="menu-item" onclick="show_attendance()">
				<div class="menu-icon-container">
					<i class="material-icons">check</i>
				</div>
				<div class="menu-text-container">
					<span>Attendance</span>
				</div>
			</div>
		</div>
		<!-- <div class="menu-item-container col-md-2 col-sm-3 col-xs-4">
			<div class="menu-item" onclick="show_wallet()">
				<div class="menu-icon-container">
					<i class="material-icons">credit_card</i>
				</div>
				<div class="menu-text-container">
					<span>E-Wallet</span>
				</div>
			</div>
		</div> -->
		<!-- <div class="menu-item-container col-md-2 col-sm-3 col-xs-4">
			<div class="menu-item" onclick="show_fees()">
				<div class="menu-icon-container">
					<i class="material-icons">&#xE227;</i>
				</div>
				<div class="menu-text-container">
					<span>Fees</span>
				</div>
			</div>
		</div> -->
		<!-- <div class="menu-item-container col-md-2 col-sm-3 col-xs-4">
			<div class="menu-item" onclick="show_transactions()">
				<div class="menu-icon-container">
					<i class="material-icons">history</i>
				</div>
				<div class="menu-text-container">
					<span>Transactions</span>
				</div>
			</div>
		</div> -->
		<div class="menu-item-container col-md-2 col-sm-3 col-xs-4">
			<div class="menu-item" onclick="show_messages()">
				<div class="menu-icon-container">
					<i class="material-icons">&#xE0D8;</i>
				</div>
				<div class="menu-text-container">
					<span>Broadcast</span>
				</div>
			</div>
		</div>
		<!-- <div class="menu-item-container col-md-2 col-sm-3 col-xs-4">
			<div class="menu-item" onclick="show_reports()">
				<div class="menu-icon-container">
					<i class="material-icons">&#xE8AD;</i>
				</div>
				<div class="menu-text-container">
					<span>Reports</span>
				</div>
			</div>
		</div> -->
		<div class="menu-item-container col-md-2 col-sm-3 col-xs-4">
			<div class="menu-item" data-toggle="modal" data-target="#schedule-modal" onclick="populate_schedule()">
				<div class="menu-icon-container">
					<i class="material-icons">query_builder</i>
				</div>
				<div class="menu-text-container">
					<span>Class Hours</span>
				</div>
			</div>
		</div>
		<div class="menu-item-container col-md-2 col-sm-3 col-xs-4">
			<div class="menu-item" data-toggle="modal" data-target="#calendar-modal" onclick="populate_calendar()">
				<div class="menu-icon-container">
					<i class="material-icons">&#xE916;</i>
				</div>
				<div class="menu-text-container">
					<span>Calendar</span>
				</div>
			</div>
		</div>
		<div class="menu-item-container col-md-2 col-sm-3 col-xs-4">
			<div class="menu-item" onclick="show_accounts()">
				<div class="menu-icon-container">
					<i class="material-icons">verified_user</i>
				</div>
				<div class="menu-text-container">
					<span>Accounts</span>
				</div>
			</div>
		</div>
		<!-- <div class="menu-item-container col-md-2 col-sm-3 col-xs-4">
			<div class="menu-item">
				<div class="menu-icon-container">
					<i class="material-icons">picture_in_picture</i>
				</div>
				<div class="menu-text-container">
					<span>New ID</span>
				</div>
			</div>
		</div> -->
	</div>
</div>
{% endblock %}