<div class="topup-student-img">
    <img src="../static/images/users/default.png">
</div>
<div class="topup-student-info">
    <div>
        <strong>Name</strong>
    </div>
    <div class="align-right">
        <span>{{student_name}}</span>
    </div>
</div>
<div class="topup-student-info">
    <div>
        <strong>Grade / Level</strong>
    </div>
    <div class="align-right">
        <span>{{student.level}}</span>
    </div>
</div>
<div class="topup-student-info">
    <div>
        <strong>Section</strong>
    </div>
    <div class="align-right">
        <span>{{student.section}}</span>
    </div>
</div>
<div class="topup-student-info">
    <div>
        <strong>Available Credits</strong>
    </div>
    <div class="align-right">
        <span>PHP {{wallet.credits}}</span>
    </div>
</div>